* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  justify-content: start;

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);
    border-radius: 10px;
  }
  @media (max-width: 767px) {
    
  }
}


body {
  background-color: #323232;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.form-container {
  width: 60%;
  max-height: 70vh;
  background-color: #897bda;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: bold;
  @media (max-width: 767px) {
    width: 90%;
  }
}

.form-container div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.form-container input {
  width: 70%;
  height: 1.8em;
  border-radius: 12px;
  border: none;
  padding: 4px 8px;

}



.res-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 75vh;
  max-height: 75vh;
  background-color: #191919;
  padding: 16px;
  border-radius: 8px;
  @media (max-width: 767px) {
    width: 90%; 
  }
}

.summary {
  width: 100%;
  height: 200px;
  background-color: #e1cbe4;
  margin: 8px 0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  width: 100%;
  background-color: #3c14a8;
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  /* height: attr(data-h); */
  position: absolute;
  bottom: 0px;
}

.bar-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0%;
  width: 100%;
  background-color: #baa5ed;
  outline: 1px solid black;
  /* border-radius: 10px; */
  /* box-sizing: unset; */
}

.bar-wrapper {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.del-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgb(162, 15, 15);
  color: white;
  border-radius: 16px;
  padding: 2px 4px;
  border: 1px solid white;
  font-size: xx-small;
  /* margin-left: 8px; */
}

.del-btn:hover {
  background-color: white;
}